openapi: 3.2.0
info:
  title: RapidAPI REST Platform Users API
  description: The RapidAPI REST Platform API allows Enterprise Hub administrators to programmatically manage their API hub configurations through RESTful endpoints. It provides CRUD operations for organizations, categories, tags, collections, transactions, subscriptions, users, APIs, and applications. This API enables automation of tasks normally performed through the Enterprise Hub Admin Panel, making it possible to integrate hub management into CI/CD pipelines and custom workflows.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://platform.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Users
  description: Endpoints for managing users within the Enterprise Hub, including user roles, permissions, and account configurations.
paths:
  /users:
    get:
      operationId: listUsers
      summary: List all users
      description: Retrieves a list of all users in the Enterprise Hub, including their roles, email addresses, and account statuses.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  totalCount:
                    type: integer
                    description: Total number of users
        '401':
          description: Unauthorized - invalid or missing API key
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get a user
      description: Retrieves the details of a specific user by their unique identifier, including their profile, roles, and subscription information.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: User not found
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
        email:
          type: string
          format: email
          description: User's email address
        name:
          type: string
          description: User's display name
        role:
          type: string
          enum:
          - admin
          - user
          - provider
          description: User's role in the Enterprise Hub
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          description: Current account status
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the user account was created
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    userId:
      name: userId
      in: path
      required: true
      description: The unique identifier of the user
      schema:
        type: string
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Platform API. Obtained from the Enterprise Hub Admin Panel.
externalDocs:
  description: RapidAPI REST Platform API Documentation
  url: https://docs.rapidapi.com/docs/platform-api-overview
