openapi: 3.2.0
info:
  title: RapidAPI Studio Documentation API
  description: RapidAPI Studio is an API design and development environment that enables teams to design, build, and document APIs collaboratively. It supports importing and editing OpenAPI specifications and Postman Collections, providing a visual interface for defining endpoints, parameters, and response schemas. Studio integrates with the broader RapidAPI platform, allowing developers to publish designed APIs directly to the hub and generate documentation automatically from API definitions.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://studio.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Documentation
  description: Endpoints for generating and managing API documentation from project definitions and endpoint configurations.
paths:
  /projects/{projectId}/publish:
    post:
      operationId: publishProject
      summary: Publish to hub
      description: Publishes the API project to the RapidAPI Hub, making it available for discovery and consumption. The project's endpoints and documentation are automatically generated from the API definition.
      tags:
      - Documentation
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  - internal
                  description: Visibility level for the published API
                category:
                  type: string
                  description: Category to list the API under on the hub
      responses:
        '200':
          description: Project published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiId:
                    type: string
                    description: The identifier of the published API on the hub
                  hubUrl:
                    type: string
                    format: uri
                    description: URL to the API listing on the hub
        '400':
          description: Bad request - project not ready for publishing
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Project not found
components:
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: The unique identifier of the project
      schema:
        type: string
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Studio API.
externalDocs:
  description: RapidAPI Studio Documentation
  url: https://docs.rapidapi.com/docs/studio-overview
