openapi: 3.2.0
info:
  title: Rapidapi Subscriptions API
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
  description: 'Operations tagged Subscriptions across 2 of this provider''s published API definitions: rapidapi-hub-api-openapi.yml, rapidapi-rest-platform-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rapidapi.com
  description: Production Server
- url: https://platform.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Subscriptions
  description: Endpoints for managing API subscriptions, including subscribing to API plans, viewing active subscriptions, and usage analytics.
paths:
  /subscriptions:
    get:
      operationId: listMySubscriptions
      summary: List my subscriptions
      description: Retrieves the authenticated user's active API subscriptions, including plan details and usage statistics.
      tags:
      - Subscriptions
      responses:
        '200':
          description: List of active subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubSubscription'
        '401':
          description: Unauthorized - invalid or missing API key
    servers:
    - url: https://rapidapi.com
      description: Production Server
  /apis/{apiSlug}/subscribe:
    post:
      operationId: subscribeToApi
      summary: Subscribe to an API
      description: Subscribes the authenticated user to a specific API plan on the marketplace. After subscribing, the user can make API calls using their RapidAPI key.
      tags:
      - Subscriptions
      parameters:
      - name: apiSlug
        in: path
        required: true
        description: The URL-friendly slug or identifier of the API
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planId
              properties:
                planId:
                  type: string
                  description: The identifier of the pricing plan to subscribe to
      responses:
        '201':
          description: Subscription created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubSubscription'
        '400':
          description: Bad request - invalid plan or already subscribed
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: API or plan not found
    servers:
    - url: https://rapidapi.com
      description: Production Server
components:
  schemas:
    HubSubscription:
      type: object
      properties:
        id:
          type: string
          description: Unique subscription identifier
        apiId:
          type: string
          description: The subscribed API identifier
        apiName:
          type: string
          description: Name of the subscribed API
        planName:
          type: string
          description: Name of the subscription plan
        status:
          type: string
          enum:
          - active
          - cancelled
          - expired
          description: Current subscription status
        usageCount:
          type: integer
          description: Number of API calls made in the current period
        usageLimit:
          type: integer
          description: Maximum API calls allowed in the current period
        subscribedAt:
          type: string
          format: date-time
          description: Timestamp when the subscription was created
    Subscription:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the subscription
        apiId:
          type: string
          description: The API being subscribed to
        userId:
          type: string
          description: The subscribing user
        plan:
          type: string
          description: Name of the subscription plan
        status:
          type: string
          enum:
          - active
          - cancelled
          - expired
          description: Current subscription status
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the subscription was created
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating all requests to the Hub API. Available from the developer dashboard after registration.
x-refined-from:
- rapidapi-hub-api-openapi.yml
- rapidapi-rest-platform-api-openapi.yml
