openapi: 3.2.0
info:
  title: RapidAPI Testing Executions API
  description: RapidAPI Testing provides a comprehensive API testing and monitoring solution that supports REST, SOAP, and GraphQL APIs. It offers an intuitive interface for creating and running functional tests, performance tests, and automated monitoring checks. The testing platform integrates with CI/CD pipelines, enabling teams to verify API behavior as part of their development workflow. Tests can be scheduled to run periodically across 9 AWS regions to monitor API health and detect regressions.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://testing.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Executions
  description: Endpoints for viewing test execution results, including pass/fail statuses, response times, and detailed assertion outcomes.
paths:
  /executions:
    get:
      operationId: listExecutions
      summary: List test executions
      description: Retrieves a list of test execution results, optionally filtered by test identifier, status, or date range.
      tags:
      - Executions
      parameters:
      - name: testId
        in: query
        required: false
        description: Filter executions by test identifier
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter executions by result status
        schema:
          type: string
          enum:
          - passed
          - failed
          - running
          - error
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of test executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  executions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'
                  totalCount:
                    type: integer
                    description: Total number of executions
        '401':
          description: Unauthorized - invalid or missing API key
  /executions/{executionId}:
    get:
      operationId: getExecution
      summary: Get execution details
      description: Retrieves the detailed results of a specific test execution, including per-step results, response times, assertion outcomes, and any errors.
      tags:
      - Executions
      parameters:
      - $ref: '#/components/parameters/executionId'
      responses:
        '200':
          description: Execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionDetail'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Execution not found
components:
  schemas:
    Execution:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the execution
        testId:
          type: string
          description: The test that was executed
        status:
          type: string
          enum:
          - passed
          - failed
          - running
          - error
          description: Overall execution result status
        duration:
          type: integer
          description: Total execution time in milliseconds
        location:
          type: string
          description: The monitoring location where the test ran
        startedAt:
          type: string
          format: date-time
          description: Timestamp when the execution started
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the execution completed
    StepResult:
      type: object
      properties:
        stepId:
          type: string
          description: The step that was executed
        stepName:
          type: string
          description: Name of the step
        status:
          type: string
          enum:
          - passed
          - failed
          - error
          - skipped
          description: Step execution result
        responseTime:
          type: integer
          description: Response time in milliseconds
        statusCode:
          type: integer
          description: HTTP status code returned
        assertions:
          type: array
          items:
            type: object
            properties:
              target:
                type: string
                description: The assertion target
              passed:
                type: boolean
                description: Whether the assertion passed
              expected:
                type: string
                description: The expected value
              actual:
                type: string
                description: The actual value received
          description: Per-assertion results
    ExecutionDetail:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the execution
        testId:
          type: string
          description: The test that was executed
        testName:
          type: string
          description: Name of the test
        status:
          type: string
          enum:
          - passed
          - failed
          - running
          - error
          description: Overall execution result status
        duration:
          type: integer
          description: Total execution time in milliseconds
        location:
          type: string
          description: The monitoring location where the test ran
        steps:
          type: array
          items:
            $ref: '#/components/schemas/StepResult'
          description: Per-step execution results
        startedAt:
          type: string
          format: date-time
          description: Timestamp when the execution started
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the execution completed
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    executionId:
      name: executionId
      in: path
      required: true
      description: The unique identifier of the test execution
      schema:
        type: string
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Testing API.
externalDocs:
  description: RapidAPI Testing Documentation
  url: https://docs.rapidapi.com/docs/testing-getting-started
