openapi: 3.1.0
info:
  title: RapidAPI Gateway Alerts Transactions API
  description: The RapidAPI Gateway provides enterprise-grade API gateway capabilities for managing API traffic, security, and routing. It enables organizations to configure custom gateways that handle authentication, rate limiting, and request routing for their APIs. The gateway supports multiple deployment models and can be configured to work with existing infrastructure, providing a centralized point of control for all API traffic flowing through the RapidAPI platform. The Rapid Runtime proxies requests between consumers and providers, adding authentication verification, usage tracking, and billing data collection.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://gateway.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Transactions
  description: Endpoints for viewing and managing API transaction records, including usage data and billing information.
paths:
  /transactions:
    get:
      operationId: listTransactions
      summary: List all transactions
      description: Retrieves a list of API transaction records, including usage data, billing information, and timestamps.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized - invalid or missing API key
components:
  parameters:
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the transaction
        apiId:
          type: string
          description: The API the transaction is associated with
        userId:
          type: string
          description: The user who made the transaction
        amount:
          type: number
          format: double
          description: Transaction amount
        currency:
          type: string
          description: Currency code for the transaction amount
        status:
          type: string
          enum:
          - completed
          - pending
          - failed
          description: Current transaction status
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the transaction occurred
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Gateway API.
externalDocs:
  description: RapidAPI Gateway Configuration Documentation
  url: https://docs.rapidapi.com/docs/gateway-configuration
