openapi: 3.2.0
info:
  title: RapidAPI REST Platform Applications API
  description: The RapidAPI REST Platform API allows Enterprise Hub administrators to programmatically manage their API hub configurations through RESTful endpoints. It provides CRUD operations for organizations, categories, tags, collections, transactions, subscriptions, users, APIs, and applications. This API enables automation of tasks normally performed through the Enterprise Hub Admin Panel, making it possible to integrate hub management into CI/CD pipelines and custom workflows.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://platform.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Applications
  description: Endpoints for creating, updating, and deleting applications and their associated authorizations within the Enterprise Hub.
paths:
  /applications:
    get:
      operationId: listApplications
      summary: List all applications
      description: Retrieves a list of all applications registered in the Enterprise Hub, including their API keys and authorization configurations.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
        '401':
          description: Unauthorized - invalid or missing API key
    post:
      operationId: createApplication
      summary: Create an application
      description: Creates a new application in the Enterprise Hub with associated API key and authorization settings.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInput'
      responses:
        '201':
          description: Application created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Bad request - invalid input parameters
        '401':
          description: Unauthorized - invalid or missing API key
  /applications/{applicationId}:
    put:
      operationId: updateApplication
      summary: Update an application
      description: Updates an existing application's configuration and authorization settings in the Enterprise Hub.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/applicationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInput'
      responses:
        '200':
          description: Application updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Bad request - invalid input parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Application not found
    delete:
      operationId: deleteApplication
      summary: Delete an application
      description: Deletes an application and its associated API keys from the Enterprise Hub.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/applicationId'
      responses:
        '204':
          description: Application deleted successfully
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Application not found
components:
  parameters:
    applicationId:
      name: applicationId
      in: path
      required: true
      description: The unique identifier of the application
      schema:
        type: string
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  schemas:
    ApplicationInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Application name
        description:
          type: string
          description: Application description
    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the application
        name:
          type: string
          description: Application name
        description:
          type: string
          description: Application description
        apiKey:
          type: string
          description: API key associated with this application
        status:
          type: string
          enum:
          - active
          - inactive
          description: Current application status
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the application was created
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Platform API. Obtained from the Enterprise Hub Admin Panel.
externalDocs:
  description: RapidAPI REST Platform API Documentation
  url: https://docs.rapidapi.com/docs/platform-api-overview
