openapi: 3.2.0
info:
  title: RapidAPI Hub Snippets API
  description: The RapidAPI Hub API enables developers to discover, search, test, and connect to thousands of APIs through the world's largest API marketplace. Using a single API key, developers can browse APIs across categories such as weather, social media, e-commerce, and finance, test endpoints directly, view auto-generated code snippets in multiple programming languages, and manage subscriptions and usage analytics from a single dashboard.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://rapidapi.com
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Snippets
  description: Endpoints for generating code snippets for API calls in multiple programming languages and libraries.
paths:
  /apis/{apiSlug}/snippets:
    get:
      operationId: getCodeSnippets
      summary: Get code snippets
      description: Generates code snippets for calling a specific API endpoint in various programming languages and libraries, including JavaScript, Python, PHP, Ruby, Java, and more.
      tags:
      - Snippets
      parameters:
      - name: apiSlug
        in: path
        required: true
        description: The URL-friendly slug or identifier of the API
        schema:
          type: string
      - name: endpointId
        in: query
        required: true
        description: The identifier of the specific endpoint
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: The programming language for the code snippet
        schema:
          type: string
          enum:
          - javascript
          - python
          - php
          - ruby
          - java
          - csharp
          - go
          - swift
          - kotlin
          - shell
      responses:
        '200':
          description: Code snippets for the requested endpoint
          content:
            application/json:
              schema:
                type: object
                properties:
                  snippets:
                    type: array
                    items:
                      $ref: '#/components/schemas/CodeSnippet'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: API or endpoint not found
components:
  schemas:
    CodeSnippet:
      type: object
      properties:
        language:
          type: string
          description: Programming language name
        library:
          type: string
          description: HTTP library or framework used
        code:
          type: string
          description: The generated code snippet
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating all requests to the Hub API. Available from the developer dashboard after registration.
externalDocs:
  description: RapidAPI Hub Consumer Quick Start Guide
  url: https://docs.rapidapi.com/docs/consumer-quick-start-guide
