openapi: 3.2.0
info:
  title: RapidAPI Testing Environments API
  description: RapidAPI Testing provides a comprehensive API testing and monitoring solution that supports REST, SOAP, and GraphQL APIs. It offers an intuitive interface for creating and running functional tests, performance tests, and automated monitoring checks. The testing platform integrates with CI/CD pipelines, enabling teams to verify API behavior as part of their development workflow. Tests can be scheduled to run periodically across 9 AWS regions to monitor API health and detect regressions.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://testing.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Environments
  description: Endpoints for managing test environments with variable sets that can be used across tests for different deployment stages.
paths:
  /environments:
    get:
      operationId: listEnvironments
      summary: List environments
      description: Retrieves all test environments with their variable configurations. Environments allow defining different variable sets for development, staging, and production.
      tags:
      - Environments
      responses:
        '200':
          description: A list of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  environments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
        '401':
          description: Unauthorized - invalid or missing API key
    post:
      operationId: createEnvironment
      summary: Create an environment
      description: Creates a new test environment with a set of variables that can be used across test configurations.
      tags:
      - Environments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentInput'
      responses:
        '201':
          description: Environment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad request - invalid environment configuration
        '401':
          description: Unauthorized - invalid or missing API key
  /environments/{environmentId}:
    put:
      operationId: updateEnvironment
      summary: Update an environment
      description: Updates an existing test environment's name and variable set.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentInput'
      responses:
        '200':
          description: Environment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad request - invalid environment configuration
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Environment not found
    delete:
      operationId: deleteEnvironment
      summary: Delete an environment
      description: Deletes a test environment. Tests using this environment will need to be reconfigured.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: Environment deleted successfully
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Environment not found
components:
  parameters:
    environmentId:
      name: environmentId
      in: path
      required: true
      description: The unique identifier of the environment
      schema:
        type: string
  schemas:
    Environment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the environment
        name:
          type: string
          description: Environment name
        variables:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of environment variables
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the environment was created
    EnvironmentInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Environment name
        variables:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of environment variables
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Testing API.
externalDocs:
  description: RapidAPI Testing Documentation
  url: https://docs.rapidapi.com/docs/testing-getting-started
