openapi: 3.2.0
info:
  title: RapidAPI REST Platform Transactions API
  description: The RapidAPI REST Platform API allows Enterprise Hub administrators to programmatically manage their API hub configurations through RESTful endpoints. It provides CRUD operations for organizations, categories, tags, collections, transactions, subscriptions, users, APIs, and applications. This API enables automation of tasks normally performed through the Enterprise Hub Admin Panel, making it possible to integrate hub management into CI/CD pipelines and custom workflows.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://platform.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Transactions
  description: Endpoints for viewing and managing API transaction records, including usage data and billing information.
paths:
  /transactions:
    get:
      operationId: listTransactions
      summary: List all transactions
      description: Retrieves a list of API transaction records, including usage data, billing information, and timestamps.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized - invalid or missing API key
components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the transaction
        apiId:
          type: string
          description: The API the transaction is associated with
        userId:
          type: string
          description: The user who made the transaction
        amount:
          type: number
          format: double
          description: Transaction amount
        currency:
          type: string
          description: Currency code for the transaction amount
        status:
          type: string
          enum:
          - completed
          - pending
          - failed
          description: Current transaction status
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the transaction occurred
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Platform API. Obtained from the Enterprise Hub Admin Panel.
externalDocs:
  description: RapidAPI REST Platform API Documentation
  url: https://docs.rapidapi.com/docs/platform-api-overview
