openapi: 3.2.0
info:
  title: Rapidapi Categories API
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: rapidapi-hub-api-openapi.yml, rapidapi-rest-platform-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rapidapi.com
  description: Production Server
- url: https://platform.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Categories
  description: Endpoints for browsing API categories available on the marketplace, including Data, Sports, Finance, Travel, and Entertainment.
paths:
  /categories:
    get:
      operationId: listHubCategories
      summary: List marketplace categories
      description: Retrieves all API categories available on the RapidAPI marketplace, including category names, slugs, and the number of APIs in each.
      tags:
      - Categories
      responses:
        '200':
          description: A list of marketplace categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubCategory'
        '401':
          description: Unauthorized - invalid or missing API key
    post:
      operationId: createCategory
      summary: Create a category
      description: Creates a new API category in the Enterprise Hub for organizing APIs.
      tags:
      - Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInput'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Bad request - invalid input parameters
        '401':
          description: Unauthorized - invalid or missing API key
    servers:
    - url: https://rapidapi.com
      description: Production Server
  /categories/{categorySlug}/apis:
    get:
      operationId: listApisByCategory
      summary: List APIs in a category
      description: Retrieves all APIs within a specific category on the RapidAPI marketplace, sorted by popularity or relevance.
      tags:
      - Categories
      parameters:
      - name: categorySlug
        in: path
        required: true
        description: The URL-friendly slug of the category
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: APIs in the specified category
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiSummary'
                  totalCount:
                    type: integer
                    description: Total number of APIs in this category
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Category not found
    servers:
    - url: https://rapidapi.com
      description: Production Server
  /categories/{categoryId}:
    put:
      operationId: updateCategory
      summary: Update a category
      description: Updates an existing API category in the Enterprise Hub.
      tags:
      - Categories
      parameters:
      - $ref: '#/components/parameters/categoryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInput'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Bad request - invalid input parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Category not found
    delete:
      operationId: deleteCategory
      summary: Delete a category
      description: Deletes an API category from the Enterprise Hub. APIs in this category will need to be reassigned.
      tags:
      - Categories
      parameters:
      - $ref: '#/components/parameters/categoryId'
      responses:
        '204':
          description: Category deleted successfully
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Category not found
    servers:
    - url: https://platform.rapidapi.com/v1
      description: Production Server
components:
  schemas:
    ApiSummary:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the API
        name:
          type: string
          description: Display name of the API
        slug:
          type: string
          description: URL-friendly slug for the API
        description:
          type: string
          description: Short description of the API
        category:
          type: string
          description: Category the API belongs to
        imageUrl:
          type: string
          format: uri
          description: URL to the API icon or logo
        averageRating:
          type: number
          format: float
          description: Average user rating for the API
        popularity:
          type: number
          format: float
          description: Popularity score based on usage and subscriptions
        isVerified:
          type: boolean
          description: Whether the API provider is verified
        provider:
          type: string
          description: Name of the API provider
    HubCategory:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the category
        name:
          type: string
          description: Category display name
        slug:
          type: string
          description: URL-friendly category slug
        apiCount:
          type: integer
          description: Number of APIs in this category
    CategoryInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name of the category
    Category:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the category
        name:
          type: string
          description: Display name of the category
        slugifiedName:
          type: string
          description: URL-friendly slug for the category
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: The number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      required: false
      description: The maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    categoryId:
      name: categoryId
      in: path
      required: true
      description: The unique identifier of the category
      schema:
        type: string
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating all requests to the Hub API. Available from the developer dashboard after registration.
x-refined-from:
- rapidapi-hub-api-openapi.yml
- rapidapi-rest-platform-api-openapi.yml
