openapi: 3.2.0
info:
  title: RapidAPI Testing Locations API
  description: RapidAPI Testing provides a comprehensive API testing and monitoring solution that supports REST, SOAP, and GraphQL APIs. It offers an intuitive interface for creating and running functional tests, performance tests, and automated monitoring checks. The testing platform integrates with CI/CD pipelines, enabling teams to verify API behavior as part of their development workflow. Tests can be scheduled to run periodically across 9 AWS regions to monitor API health and detect regressions.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://testing.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Locations
  description: Endpoints for listing available monitoring locations across global AWS regions where tests can be executed.
paths:
  /locations:
    get:
      operationId: listLocations
      summary: List monitoring locations
      description: Retrieves the list of available global monitoring locations where tests can be executed. Includes AWS regions and any custom locations.
      tags:
      - Locations
      responses:
        '200':
          description: A list of available monitoring locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
        '401':
          description: Unauthorized - invalid or missing API key
components:
  schemas:
    Location:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the location
        name:
          type: string
          description: Location display name
        region:
          type: string
          description: AWS region identifier
        provider:
          type: string
          enum:
          - aws
          - azure
          - custom
          description: Cloud provider hosting this location
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Testing API.
externalDocs:
  description: RapidAPI Testing Documentation
  url: https://docs.rapidapi.com/docs/testing-getting-started
