openapi: 3.2.0
info:
  title: RapidAPI Studio Requests API
  description: RapidAPI Studio is an API design and development environment that enables teams to design, build, and document APIs collaboratively. It supports importing and editing OpenAPI specifications and Postman Collections, providing a visual interface for defining endpoints, parameters, and response schemas. Studio integrates with the broader RapidAPI platform, allowing developers to publish designed APIs directly to the hub and generate documentation automatically from API definitions.
  version: '1.0'
  contact:
    name: RapidAPI Support
    url: https://docs.rapidapi.com
  termsOfService: https://rapidapi.com/terms
servers:
- url: https://studio.rapidapi.com/v1
  description: Production Server
security:
- rapidApiKey: []
tags:
- name: Requests
  description: Endpoints for managing saved API requests within a project, including importing from spec files and organizing into groups.
paths:
  /projects/{projectId}/requests:
    get:
      operationId: listRequests
      summary: List saved requests
      description: Retrieves all saved API requests within a project, organized into groups. Requests are used for testing and documentation.
      tags:
      - Requests
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: A list of saved requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedRequest'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Project not found
components:
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: The unique identifier of the project
      schema:
        type: string
  schemas:
    SavedRequest:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the saved request
        name:
          type: string
          description: Request name
        method:
          type: string
          description: HTTP method
        url:
          type: string
          format: uri
          description: Request URL
        group:
          type: string
          description: Request group name
        headers:
          type: object
          additionalProperties:
            type: string
          description: Request headers
        body:
          type: string
          description: Request body content
  securitySchemes:
    rapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: RapidAPI key used for authenticating requests to the Studio API.
externalDocs:
  description: RapidAPI Studio Documentation
  url: https://docs.rapidapi.com/docs/studio-overview
